{% macro bids_macro(bids) %}
    {% for bid in bids %}
        <tr>
            <td>#{{ bid.id }}</td>
            <td>
                <div class="tm-status-circle {{ bid.status }}">
                </div>{{ bid.status }}
            </td>
            <td><b>{{ bid.name }} {{ bid.surname }}</b></td>
            <td><b>{{ bid.phone }}</b></td>
            <td><b>{{ bid.address }}</b></td>
            <td><b>{{ bid.product.name }}</b></td>
            <td><b>{{ bid.quantity }}</b></td>
            <td>{{ bid.date_created.strftime("%m/%d/%Y, %H:%M:%S") }}</td>
            <td>
                <a href="{{ url_for("admin.cancel", id=bid.id) }}"><div class="text-danger">Cancel</div></a>
                <a href="{{ url_for("admin.approve", id=bid.id) }}"><div class="text-success">Approve</div></a>
            </td>
        </tr>
    {% endfor %}
{%  endmacro %}