{% from 'macro.html' import products %}
{% extends 'base.html' %}
{% block content %}
<!-- Product Detail Start -->
<div class="product-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="product-slider-single normal-slider">
                                <img src="{{url_for('static',filename='uploads/'+product.image)}}" alt="Product Image">
                            </div>
                            <div class="product-slider-single-nav normal-slider">
                                <div class="slider-nav-img"><img src="{{url_for('static',filename='uploads/'+product.image)}}" alt="Product Image"></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-content checkout">
                                <div class="title"><h2>{{product.name}}</h2></div>
                                <div class="ratingbox">
                                    <input type="radio" name="rating" id="rating-1" value="1"/>
                                    <label for="rating-1" class="fa fa-star"></label>
                                    <input type="radio" name="rating" id="rating-2" value="2"/>
                                    <label for="rating-2" class="fa fa-star"></label>
                                    <input type="radio" name="rating" id="rating-3" value="3"/>
                                    <label for="rating-3" class="fa fa-star"></label>
                                    <input type="radio" name="rating" id="rating-4" value="4"/>
                                    <label for="rating-4" class="fa fa-star"></label>
                                    <input type="radio" name="rating" id="rating-5" value="5"/>
                                    <label for="rating-5" class="fa fa-star"></label>
                                </div>
                                <div class="manufacturer">
                                    <h4><b>მწარმოებელი:</b></h4>
                                    <p>{{product.manufacturer}}</p>
                                </div>
                                <div class="manufacturer">
                                    <h4><b>შეთავაზება:</b></h4>
                                    <p>{{product.quantity}}</p>
                                </div>
                                <div class="manufacturer">
                                    <h4><b>დარჩენილი:</b></h4>
                                    <p>{{product.quantity-product.sold_quantity}} {{ product.unit }}</p>
                                </div>
                                <div class="price">
                                    <h4>ფასი:</h4>
                                    <p>{{product.price}} ლ</p>
                                </div>
                                <div class="manufacturer">
                                        <h4><b>რაოდენობა:  </b></h4>
                                        <div class="qtycheckout">
                                            <span class="btn btn-minus"><i class="fa fa-minus"></i></span>
                                            <input class="quantity" type="text">
                                            <span class="btn btn-plus"><i class="fa fa-plus" ></i></span>
                                        </div>
                                        <span id="price">0 ლ</span>
                                    </div>
                                </div>
                                <div class="action">
                                    <button class="btn" onclick="addToCart({{product.id}})"><i class="fa fa-shopping-cart"></i>კალათაში დამატება</button>
                                    <button class="btn" id="buy"><i class="fa fa-shopping-bag"></i>ყიდვა</button>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description">აღწერა</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#specification">მახასიათებლები</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#reviews">მიმოხილვა</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="container tab-pane active">
                                <h4>პროდუქტის აღწერა</h4>
                                <p>

                                </p>
                            </div>
                            <div id="specification" class="container tab-pane fade">
                                <h4>პროდუქტის მახასიათებლები</h4>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet</li>
                                </ul>
                            </div>
                            <div id="reviews" class="container tab-pane fade">
                                <div class="reviews-submit">
                                    <h4>გაგვიზიარე შეფასება:</h4>
                                    <div class="ratting">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="row form">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="სახელი">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" placeholder="იმეილი">
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea placeholder="შეფასება"></textarea>
                                        </div>
                                        <div class="col-sm-12">
                                            <button>გაგზავნა</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="section-header">
                        <h1>დაკავშირებული პროდუქტები</h1>
                    </div>

                    <div class="row align-items-center product-slider product-slider-3">
{#                        {{products(related_products)}}#}
                    </div>
                </div>
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">კატალოგი</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">ჰიგიენის ნივთები</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">კოსმეტიკა</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">სურსათი</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ჯანმრთელობა</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ქველმოქმედება</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="sidebar-widget brands">
                    <h2 class="title">პარტნიორი ბრენდები</h2>
                    <ul>
{#                        <li><a href="#">Nulla </a><span>(45)</span></li>#}
                    </ul>
                </div>

            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product Detail End -->
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{url_for('static',filename='js/product.js')}}"></script>
{% endblock %}

{% block variables %}
    <script type="text/javascript">
        var min = {{ product.min_bid }};
        var quantity = min;
        var price = {{ product.price }}
        var available = {{ product.quantity-product.sold_quantity }}
    </script>
{% endblock %}