<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>გაზიარდი • Gaziardi</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="{{url_for('static',filename='img/logo.svg')}}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{{url_for('static',filename='lib/slick/slick.css')}}" rel="stylesheet">
        <link href="{{url_for('static',filename='lib/slick/slick-theme.css')}}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/reset.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/fonts.css')}}">


        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% block variables %}
        {% endblock %}
    </head>

    <body>
        <div class="main-header">
                <a href="{{url_for('index.index')}}">
                    <img class="logo" src="{{url_for('static',filename='img/logo.svg')}}">
                </a>

                <div class="search-field">
                    <input type="text" name="search" autocomplete="off">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="user-tools">
                    <a href="#" id="myBtn" class="create-logo">
                        <img src="{{url_for('static',filename='img/create.svg')}}">
                        <p>შექმნა</p>
                    </a>

                    <div id="myModal" class="modal">

                        <div class="crt-box-post">
                            <div class="modal-content-close">
                                <span class="close">&times;</span>
                            </div>
                            <div class="createoffer">
                                <a href="add-offer.html">
                                    <div class="typeoffer">
                                        <p>გაყიდვა</p>
                                    </div>
                                </a>
                                <a href="add-offer.html">
                                    <div class="typeoffer">
                                        <p>გაქირავება</p>
                                    </div>
                                </a>
                                <a href="add-offer.html">
                                    <div class="typeoffer">
                                        <p>მომსახურება</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <a href="#" id="myloginBtn" class="create-logo">
                        <img src="{{url_for('static',filename='img/user.svg')}}">
                        <p>შესვლა</p>
                    </a>

                    <!-- <a href="#" id="" class="create-logo">
                        <img src="assets/images/user.svg">
                        <p>შესვლა</p>
                        <div>
                            <p>0</p>
                        </div>
                    </a> -->

                    <div id="myloginModal" class="modallogin">
                        <div class="container-regi" id="container">
                            <div class="form-container sign-up-container">
                                <form class="regist-form" action="#">
                                    <h1>რეგისტრაცია</h1>
                                    <div class="social-container">
                                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                                    </div>
                                    <span>ან შექმენით დამოუკიდებელი ანგარიში</span>
                                    <input type="text" placeholder="სახელი" />
                                    <input type="email" placeholder="ელ. ფოსტა" />
                                    <input type="password" placeholder="პაროლი" />
                                    <button>რეგისტრაცია</button>
                                </form>
                            </div>
                            <div class="form-container sign-in-container">
                                <form class="regist-form" action="#">
                                    <h1>შესვლა</h1>
                                    <div class="social-container">
                                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                                    </div>
                                    <span>ან გამოიყენეთ თქვენი ანგარიში</span>
                                    <input type="email" placeholder="ელ. ფოსტა" />
                                    <input type="password" placeholder="პაროლი" />
                                    <a href="#">დაგავიწყდათ პაროლი?</a>
                                    <button>შესვლა</button>
                                </form>
                            </div>
                            <div class="overlay-container">
                                <div class="overlay">
                                    <div class="overlay-panel overlay-left">
                                        <img src="{{url_for('static',filename='img/main-logo.svg')}}">
                                        <p>გაიარეთ ავტორიზაცია და მიიღეთ წვდომა ყველა სერვისზე <b>უფასოდ</b></p>
                                        <button class="ghost" id="signIn">შესვლა</button>
                                    </div>
                                    <div class="overlay-panel overlay-right">
                                        <img src="{{url_for('static',filename='img/main-logo.svg')}}">
                                        <p>გაიარეთ ავტორიზაცია და მიიღეთ წვდომა ყველა სერვისზე <b>უფასოდ</b></p>
                                        <button class="ghost" id="signUp">რეგისტრაცია</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <a href="userprofile.html" class="create-logo">
                        <img src="assets/images/sms.svg">
                        <p>შეტყობინება</p>
                        <div id="message">
                            <p>0</p>
                        </div>
                    </a>
                    <a href="userprofile.html" class="create-logo">
                        <img src="assets/images/list.svg">
                        <p>ჩემი სია</p>
                        <div>
                            <p>0</p>
                        </div>
                    </a> -->
                    <a href="cart.html" class="create-logo">
                        <img src="{{url_for('static',filename='img/cart.svg')}}">
                        <div>
                            <p>0</p>
                        </div>
                        <p>კალათა</p>
                    </a>
                </div>

            </div>


        <!-- Nav Bar Start -->
        <div class="nav" id="nav-mb">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">მენიუ</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <div class="dropdown">
                                <!-- <a href="index.html" class="nav-item nav-link active">Departments</a> -->
                                <a href="#" class="dropdown-toggle nav-login" style="line-height: 38px;" data-toggle="dropdown">კატალოგი</a>

                                <ul class="dropdown-menu mega-menu" style="margin-top: -2px;">

                                    <li class="mega-menu-column">
                                    <ul id="megamenu-ul">
                                        <li class="nav-header">ჰიგიენის ნივთები</li>
                                        <li><a href="product-list.html"></a></li>

                                    </ul>
                                    </li>

                                    <li class="mega-menu-column">
                                    <ul id="megamenu-ul">
                                        <li class="nav-header">კოსმეტიკა</li>
                                        <li><a href="product-list.html"></a></li>


                                    </ul>
                                    </li>

                                    <li class="mega-menu-column">
                                    <ul id="megamenu-ul">
                                        <li class="nav-header">სურსათი</li>
                                        <li><a href="product-list.html"></a></li>

                                    </ul>
                                    </li>
                                    <li class="mega-menu-column">
                                    <ul id="megamenu-ul">
                                        <li class="nav-header">ჯანმრთელობა</li>
                                        <li><a href="product-list.html"></a></li>

                                    </ul>
                                    </li>
                                    <li class="mega-menu-column">
                                    <ul id="megamenu-ul">
                                        <li class="nav-header">ქველმოქმედება</li>
                                        <li><a href="product-list.html"></a></li>


                                    </ul>
                                    </li>

                                </ul><!-- dropdown-menu -->

                            </div><!-- /.dropdown -->
                            <a href="{{ url_for('category.hygiene') }}" class="nav-item nav-link">ჰიგიენის ნივთები</a>
                            <a href="{{ url_for('category.beauty') }}" class="nav-item nav-link">კოსმეტიკა</a>
                            <a href="{{url_for('category.grocery')}}" class="nav-item nav-link">სურსათი</a>
                            <a href="{{url_for('category.health')}}" class="nav-item nav-link">ჯანმრთელობა</a>
                            <a href="{{url_for('category.charity')}}" class="nav-item nav-link">ქველმოქმედება</a>
                            <a href="{{url_for('checkout.status_check')}}" class="nav-item nav-link">შეკვეთის შემოწმება</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle nav-login" style="line-height: 38px;" data-toggle="dropdown">მეტი</a>
                                <div class="dropdown-menu" id="nav-drpdwn" style="margin-top: -2px;">
                                    <a href="/contact" class="dropdown-item">კონტაქტი</a>
                                    <a href="#" class="dropdown-item">ჩვენ შესახებ</a>
                                </div>
                            </div>
                        </div>

                        {% if current_user.is_authenticated %}

                        <!-- <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle nav-login" data-toggle="dropdown">
                                    <img class="user-main-img" src="img/karlo.jpg" alt="profile picture">
                                    {{current_user.name}}
                                </a>
                                <div class="dropdown-menu" id="nav-drpdwn">
                                    <a href="my-account.html" class="dropdown-item">პროფილი</a>
                                    <a href="messagebox.html" class="dropdown-item">წერილები</a>
                                    <a href="/logout" class="dropdown-item">გასვლა</a>
                                </div>
                            </div>
                        </div> -->

                        {% else %}

                        <!-- <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle nav-login" data-toggle="dropdown">მომხმარებელი</a>
                                <div class="dropdown-menu" id="nav-drpdwn">
                                    <a href="/register" class="dropdown-item">შესვლა</a>
                                    <a href="/register" class="dropdown-item">რეგისტრაცია</a>
                                </div>
                            </div>
                        </div> -->
                        
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
        <!-- Footer Start -->
        <footer>
                <div class="footer">
                        <div class="contain">
                        <div class="col">
                                <h3>გაზიარდი</h3>
                        </div>
                        <div class="col">
                                <h3>კატეგორიები</h3>
                                <ul>
                                        <a href="#"><li>გაყიდვა</li></a>
                                        <a href="#"><li>გაქირავება</li></a>
                                        <a href="#"><li>მომსახურება</li></a>
                                </ul>
                        </div>
                        <div class="col">
                                <h3>დახმარება</h3>
                                <ul>
                                        <a href="FAQ.html"><li>მხარდაჭერა</li></a>
                                        <a href="FAQ.html"><li>FAQ</li></a>
                                </ul>
                        </div>
                        <div class="col">
                                <h3>კომპანია</h3>
                                <ul>
                                        <a href="aboutus.html"><li>ჩვენი გუნდი</li></a>
                                        <a href="aboutus.html"><li>შესახებ</li></a>
                                        <a href="aboutus.html"><li>კონტაქტი</li></a>
                                        <a href="aboutus.html"><li>მოგვწერეთ</li></a>
                                </ul>
                        </div>
                        <div class="col social">
                                <h3>გამოგვყევით</h3>
                                <ul>
                                        <a href="www.facebook.com"><li><img src="{{url_for('static',filename='img/Facebook.svg')}}" alt="facebook"></li></a>
                                        <a href="www.instagram.com"><li><img src="{{url_for('static',filename='img/instagram.svg')}}" alt="instagram"></li></a>
                                        <a href="www.twitter.com"><li><img src="{{url_for('static',filename='img/twitter.svg')}}" alt="twitter"></li></a>
                                </ul>
                                <div class="subscribe-field">
                                    <input type="text" autocomplete="off" placeholder="გამოიწერე" name="subscribe">
                                    <a href="#">
                                        <img src="{{url_for('static',filename='img/send-mail.svg')}}">
                                    </a>
                                </div>
                        </div>
                        </div>
                </div>
                <hr>
                <div class="copyright">Copyright © 2010-2020 Freepik Company S.L. All rights reserved.</div>
    </footer>
        <!-- Footer End -->



{#        <!-- JavaScript Libraries -->#}
{#        <script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>#}
{#        <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>#}
{#        <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>#}
{#        <script src="{{url_for('static',filename='lib/slick/slick.min.js')}}"></script>#}
{##}
{#        <!-- Template Javascript -->#}
{#        <script src="{{url_for('static',filename='js/main.js')}}"></script>#}
{#        <script type="text/javascript" src="{{url_for('static',filename='js/megamenu.js')}}"></script>#}
{#        <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>#}
{#        #}
        <!-- JavaScript Libraries -->
        <script type="text/javascript" src="{{url_for('static',filename='js/addoffer.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
        <script src="{{url_for('static',filename='lib/slick/slick.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/registr.js')}}"></script>

        <!-- Template Javascript -->
        <script src="{{url_for('static',filename='js/main.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/megamenu.js')}}"></script>
        {% block scripts%}
        {% endblock %}
    </body>
</html>
